@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}
body{
    background-color: #f5f5f5;
    
}
form{
    display: flex;
    flex-direction: column;
}

input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 25px;
}
input:focus{
    outline: none;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #281a43;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
}
button:hover{
    background-color: #372756;
}
button:disabled{
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}   
.login-form{
    width: 60%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.card{
    width: 30vw;
    margin: 0 auto;
    margin-top: 40px;
}
.link-tag{
    text-decoration: none;
    color: #281a43;
    font-weight: bold;
}

@media (max-width: 1028px) {
    .login-form{
        width: 90%;
    }
    .card{
        width: 100%;
    }
  }