.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.task-checkbox {
  display: flex;
  align-items: center;
}

.task-checkbox > button {
  color: red;
  background-color: transparent;
  border: none;
}
.task-checkbox > button:hover {
  color: rgb(226, 21, 21);
  scale: 1.2;
  background-color: transparent;
}
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}


@media (max-width: 1028px) {
  .task {
    width: 80%;
    box-shadow: none;
  }
}